*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

#landing{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("/assets/images/pexels-king-david-4629337.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bg-video{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

/*-------------------NAV BAR-----------------------------------*/

        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #nav-logo{
            height: 80px;
            width: 200px;
            background-color: rgba(237, 180, 24, 0.827);
            border-bottom-right-radius: 10px;
        }

        #logo{
            margin: 10px 30px 10px 10px;
        }

        #burger{
            height: 80px;
            width: 80px;
            background-image: url("/assets/images/burger.png");
            background-repeat: no-repeat;
            background-position: center;
        }

        nav ul{
            display: none;
        }

        #nav-link{
            margin: 10px 10%;
            background-color: rgba(237, 180, 24, 0.267);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .active{
            height: 230;
            display: block;
        }

        .disable{
            height: 0;
            display: none;
        }

        #nav-link li{
            font-size: clamp(20px, 2.5vw, 22px);
            list-style: none;
            line-height: 45px;
            border-top: 1px solid #292220;
        }

        #nav-link li a{
            color: #292220;
        }

        .link{
            padding-left: 30vw;
        }

        @media only screen and (min-width:1037px) {

            nav{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }

            #nav-link{
                background-color: rgba(255, 255, 255, 0);
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
            }

            #nav-link li{
                line-height: normal;
                border: none;
            }

            .link{
                padding: 50px;
            }
            
            #burger{
                display: none;
            }

        }

/*-------------------ARTICLE-----------------------------------*/

        h3{
            font-size: clamp(45px, 5vw, 60px);
            padding: 10vw max(10px , 20vw) 0px;
            font-weight: bolder;
            color: #292220;
            Filter: Chroma(Color = #292220);
        }

        p{
            font-size: clamp(20px, 2.5vw, 25px);
            padding: 10px max(10px , 20vw);
            line-height: 25px;
            font-weight: lighter;
            color: #292220;
            Filter: Chroma(Color = #292220);
        }

        #top{
            width: min(90px , 30%);
            height: min(90px , 30vw);
            margin: 10px 40% 10vw;
            background-image: url("/assets/images/arrow-down.png");
            background-repeat: no-repeat;
            background-position: center;
            animation: bounce 0.5s infinite alternate;
        }

        #top a{
            display: block;
            width: 100%;
            height: 100%;
            color: white;
        }

        @keyframes bounce {
            0%{
                margin: 10px 40% 10vw;
            }
            100%{
                margin: 10vw 40% 10px;
            }
        }

#second{
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
}