*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  
    scroll-behavior: smooth;  
}

a{
    text-decoration: none;
}

h3{
    font-size: clamp(40px, 4.2vw, 60px);
}

a, p{
    font-size: clamp(18px, 2vw, 24px);
}

.button{
    background-color: aqua;
    padding: 0.7rem 2rem;
    border-radius: 10px;
}

#menu{
    width: 100px;
    padding: 30px 0px;
    text-align: center;
}


#landing{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) , url('/assets/images/pexels-nadim-shaikh-7758253.jpg');
    background-size: cover;
    background-position: center;
}

    nav{
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

        #logo-menu{
            display: flex;
            justify-content: space-between;
        }
            #nav-logo{
                padding: 10px 20px 5px 10px;
                background-color: antiquewhite;
            }

        #nav{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px auto;
        }

            .visibleMenu{
                display: flex;
            }

            .hiddenMenu{
                display: none;
            }

            #nav-link{
                text-align: center;
            }
                #nav-link li{
                    padding: 5px 30px;
                }

    @media only screen and (min-width:1089px) {
        nav{
            flex-direction: row;
            justify-content: space-between;
            gap: 10vw;
        }

        #menu{
            display: none;
        }

        #nav{
            display: flex;
            flex-direction: row;
            margin: 0;
        }
        .hiddenMenu{
            display: flex;
        }

        #nav-link{
            display: inline-flex;
        }
    }

    #article-1{
        margin: 0px 10% ;
    }

        .paragraph{
            padding: 10px 0px;
            line-height: 25px;
        }

        .buttons{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        #top{
            width: 70px;
            height: 70px;
            background: url('/assets/images/arrow-down.png') no-repeat center ;
            margin: 0px auto 0px auto;
            animation: bounce 0.5s infinite alternate;
        }

            .visible{
                visibility: visible;
            }

            .hidden{
                visibility: hidden;
            }

        @keyframes bounce {
            0%{
                margin: 20px auto 100px auto;
            }
            100%{
                margin: 100px auto 20px auto;
            }
        }

        @media only screen and (min-width:927px){
            #article-1{
                margin: 0px 40% 0px 10%;
            }

            .paragraph{
                line-height: 35px;
            }

            #top{
                visibility: visible;
            }
        }

#second{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

    figure{
        width: max(300px , 45vw);
        height: max(250px , 35vw);
    }

    figure img{
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    #article-2{
        width: max(300px , 35vw);
    }

#third{
    width: 100vw;
    background-color: #fafafa;
}
    #explore,
    #third-section-buttons{
        text-align: center;
        margin: 20px 10%;
    }

    #third-section-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    #recipes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

        .recipe{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 260px;
            height: 300px;
            margin: 30px;
            border-radius: 30px;
            background-image: url('/assets/images/1.jpg');
            background-size: cover;
            background-position: center
        }
            .number{
                width: 30%;
                margin-top: 20px;
                padding: 7px 0px;
                margin-left: 60%;
                text-align: center;
                background-color: white;
                border-radius: 30px;;
            }

            .content{
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding:10px 50px;
                border-radius: 30px;
            }
                .details{
                    text-align: center;
                    font-size: 16px;
                    font-style: italic;
                }

footer{
    width: 100vw;
}