*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

#landing{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) , url("/assets/images/710.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-------------------NAV BAR-----------------------------------*/

        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #nav-logo{
            height: 80px;
            width: 200px;
            background-color: rgba(237, 180, 24, 0.827);
        }

        #logo{
            margin: 10px 30px 10px 10px;
        }

        #burger{
            height: 80px;
            width: 80px;
            background-image: url("/assets/images/burger.png");
            background-repeat: no-repeat;
            background-position: center;
        }

        nav ul{
            display: none;
        }

        #nav-link{
            margin: 0px max(10px , 20vw);
            background-color: rgba(237, 180, 24, 0.267);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .active{
            height: 230;
            display: block;
        }

        .disable{
            height: 0;
            display: none;
        }

        #nav-link li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: clamp(15px, 2vw, 20px);
            list-style: none;
            line-height: 45px;
            border-top: 1px solid #292220;
        }

        #nav-link li a{
            color: rgb(240, 240, 240);
        }

        @media only screen and (min-width:1037px) {

            nav{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }

            #nav-link{
                background-color: rgba(255, 255, 255, 0);
                flex-direction: row;
                margin: 0;
            }

            #nav-link li{
                line-height: normal;
                border: none;
            }

            .link{
                padding: 50px;
            }
            
            #burger{
                display: none;
            }

        }

/*-------------------ARTICLE-----------------------------------*/

        .expand-article{
            padding: 10vw max(10px , 20vw);
        }

        .srink-article{
            padding: 0px max(10px , 20vw);
        }

        h3{
            font-size: clamp(45px, 5vw, 60px);
            font-weight: bolder;
            color: rgb(240, 240, 240);
            Filter: Chroma(Color = #292220);
        }

        p{
            font-size: clamp(20px, 2.5vw, 25px);
            line-height: 25px;
            padding: 30px 0px;
            font-weight: lighter;
            color: rgb(240, 240, 240);
            Filter: Chroma(Color = #292220);
        }

        #landing article button{
            padding: 15px 20% 15px 15px;
            margin-right: 2%;
            font-size: clamp(10px, 2vw, 20px);
            color: rgb(240, 240, 240);
            border: none;
            font-family: 'Times New Roman', Times, serif;
        }

        #landing article button:nth-child(odd){
            background-color: #292220;
        }

        #landing article button:nth-child(even){
            background-color: rgb(237, 180, 24);
        }

        #top{
            width: min(90px , 30%);
            height: min(90px , 30vw);
            margin: 10px 40% 10vw;
            background-image: url("/assets/images/arrow-down.png");
            background-repeat: no-repeat;
            background-position: center;
            animation: bounce 0.5s infinite alternate;
        }

        @keyframes bounce {
            0%{
                margin: 10px 40% 10vw;
            }
            100%{
                margin: 10vw 40% 10px;
            }
        }

#second{
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
}